#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.custom-container {
  width: 40%;
  margin: 0 auto;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .custom-container {
    width: 60%;
  }
}

@media screen and (max-width: 576px) {
  body {
    padding: 0;
  }
  .custom-container {
    width: 100%;
    margin: 0;
  }
}
